{%extends "base.html"%}
{%block contentfull%}
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Dataset name</th>
        <th>status</th>
        <th>row level annotation</th>
        <th>To Annotate</th>
        <th>Class Statistics</th>
        <th>See annotation</th>
    </tr>
    </thead>
    <tbody>
{%for annotation in annotations%}
    <tr>
        <td>{{annotation.id}}</td>
        <td>{{annotation.name}}</td>
        <td>{{annotation.status}}</td>
        <td>
            <a href="view_annotation?annotation={{annotation.id}}">{{annotation.name}}</a>
        </td>
        <td>
            <a href="do_type?annotation={{annotation.id}}">To annotate</a>
        </td>
        <td>
            <a href="view_classes_stat?annotation={{annotation.id}}">To show stats</a>
        </td>
        <td>
            <a href="annotation_results?annotation={{annotation.id}}">See annotation results</a>
        </td>
    </tr>
{%endfor%}
    </tbody>
</table>
{%endblock%}



