{%extends "base.html"%}
{%block content%}
<table class="table">
{%for annotation in annotations%}
    <tr>
        <td>
            <a href="view_annotation?annotation={{annotation.id}}">view: {{annotation.name}}</a>
        </td>
        <td>
            <a href="do_type?annotation={{annotation.id}}">type the csv file: {{annotation.name}}</a>
        </td>
        <td>
            <a href="view_classes_stat?annotation={{annotation.id}}">view classes stat: {{annotation.name}}</a>
        </td>
    </tr>
{%endfor%}
</table>
{%endblock%}



