{%extends "base.html"%}
{%block contentfull%}



<table class="table">

    <thead>
    <tr class="thead-dark">
      <th scope="col">Cell value</th>
      <th scope="col">Entities</th>
      <th scope="col">Classes</th>
    </tr>
  </thead>
    <tbody>

    {%for cell in cells%}
            {%for entity in cell.entities%}
            <tr bgcolor class="tobecolored" colorid="{{forloop.parentloop.counter0}}">
            <!--<tr bgcolor=""+colors[{{forloop.parentloop.counter0}}%colors.length]>-->
                <td>{{cell.text_value}} ({{forloop.parentloop.counter0}})</td>
                <td>{{entity.entity}}</td>
                <td>
                    {%for cclass in entity.classes%}
                        {{cclass.cclass}}<br>
                    {%endfor%}

                </td>
            </tr>
            {%endfor%}
    {%endfor%}
    </tbody>
</table>


<script>
var colors = [
"#E6B0AA", "#D7BDE2", "#A9CCE3", "#A3E4D7", "#A9DFBF", "#F9E79F", "#F5CBA7"
,"#F5B7B1" , "#D2B4DE", "#AED6F1", "#A2D9CE", "#ABEBC6", "#FAD7A0", "#EDBB99"
];

    $(".tobecolored").each(function(index){
        $(this).attr('bgcolor', colors[$(this).attr('colorid')%colors.length] );
    });
</script>

{%endblock%}