{%extends "base.html"%}
{%block contentfull%}


<!--reference: https://datatables.net/examples/styling/bootstrap.html-->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">



<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>


<table class="table table-striped" id="example">

    <thead>
    <tr class="thead-dark">
      <th scope="col">Class</th>
      <th scope="col">Frequency</th>
      <th scope="col">Entities</th>
    </tr>
  </thead>
    <tbody>


    {%for c, entities in d.items%}
    <tr>
        <td> {{c}} </td>
        <td> {{entities|length}}</td>
        <td> {{entities}}</td>
    </tr>


    {%endfor%}
    </tbody>
</table>
{%endblock%}