{%extends "base.html"%}
{%block content%}
<h3>List Memberships <button class="btn darkl pull-right" onclick="$('.panel-collapse').collapse('show');">Show all</button>
<button class="btn darkl pull-right" onclick="$('.panel-collapse').collapse('hide');">Collapse all</button>
</h3>

<!--<button class="btn darkl" onclick="$('.panel-collapse').collapse('show');">Show all</button>-->
<!--<button class="btn darkl" onclick="$('.panel-collapse').collapse('hide');">Collapse all</button>-->

{%for mem_type in mems_and_types %}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" role="tab" id="heading{{forloop.counter0}}">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.counter0}}" aria-expanded="false" aria-controls="collapse{{forloop.counter0}}">
                filename: {{mem_type.file_name}} <br>
                column_no: {{mem_type.column_no}} <br>
                highest membership: {{mem_type.typesscores.0.0}}%
            </a>
        </h4>
    </div>

    <div id="collapse{{forloop.counter0}}" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="heading{{forloop.counter0}}">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>types</th>
                    <th>scores (%)</th>
                </tr>
                </thead>
                <tbody>
                {% for s,t in mem_type.typesscores%}
                <tr>
                    <td>{{t}}</td>
                    <td>{{s}}</td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endfor%}



























<!--<div class="panel panel-default">-->
    <!--<div class="panel-heading" role="tab" id="headingTwo">-->
      <!--<h4 class="panel-title">-->
        <!--<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
          <!--Collapsible Group Item #2-->
        <!--</a>-->
      <!--</h4>-->
    <!--</div>-->
    <!--<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">-->
      <!--<div class="panel-body">-->
        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


<!--This is for static panels-->
<!--{%for mem_type in mems_and_types %}-->


<!--<div class="panel panel-primary">-->
  <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
  <!--<div class="panel-heading">{{mem_type.file_name}} [{{mem_type.column_no}}]</div>-->
  <!--&lt;!&ndash;<div class="panel-body">&ndash;&gt;-->
    <!--&lt;!&ndash;<p></p>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<table class="table table-striped">-->
    <!--<thead>-->
    <!--<tr>-->
        <!--<th>types</th>-->
        <!--<th>scores (%)</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--{% for s,t in mem_type.typesscores%}-->
    <!--<tr>-->
        <!--<td>{{t}} </td>-->
        <!--<td>{{s}} </td>-->
    <!--</tr>-->
    <!--{%endfor%}-->
    <!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--{%endfor%}-->

<!--<script>-->
    <!--$('.panel-default').on('click', function () {-->
    <!--$('.panel-collapse').collapse('toggle');-->
<!--});-->
<!--</script>-->

{%endblock%}